<div class="container">
  <h1 class="text-center mb-4">Contato</h1>
  <form [formGroup]="form">
    <div class="mb-3">
      <div class="row">
        <div class="col-5">
          <label for="name" class="form-label">Nome completo</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                form.controls['name'].errors && form.controls['name'].touched
            }"
            formControlName="name"
            id="name"
          />
          <span
            class="invalid-feedback"
            *ngIf="
              form.controls['name'].errors && form.controls['name'].touched
            "
            >O campo nome está inválido</span
          >
        </div>
        <div class="col">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="name@example.com"
            formControlName="email"
            name="email"
            [ngClass]="{
              'is-invalid':
                form.controls['email'].errors && form.controls['email'].touched
            }"
          />
          <span
            class="invalid-feedback"
            *ngIf="
              form.controls['email'].errors && form.controls['email'].touched
            "
            >O campo email está inválido</span
          >
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label"
            >Telefone</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="(11) 9 99999-9999"
            formControlName="phone"
            [ngClass]="{
              'is-invalid':
                form.controls['phone'].errors && form.controls['phone'].touched
            }"
          />
          <span
            class="invalid-feedback"
            *ngIf="
              form.controls['phone'].errors && form.controls['phone'].touched
            "
            >O campo telefone está inválido</span
          >
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label"
            >CPF / CNPJ</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="document"
            [ngClass]="{
              'is-invalid':
                form.controls['document'].errors && form.controls['document'].touched
            }"
          />
          <span
            class="invalid-feedback"
            *ngIf="
              form.controls['document'].errors && form.controls['document'].touched
            "
            >O campo documento está inválido</span
          >
        </div>
      </div>
    </div>
    <div formGroupName="address">
      <div class="row mb-3">
        <div class="col-3">
          <label for="exampleFormControlInput1" class="form-label">CEP</label>
          <input type="text" class="form-control" formControlName="zipCode"
          [ngClass]="{
            'is-invalid':
              form.get('address.zipCode')?.errors && form.get('address.zipCode')?.touched
          }" />
          <span
            class="invalid-feedback"
            *ngIf="
              form.get('address.zipCode')?.errors && form.get('address.zipCode')?.touched
            "
            >O campo documento está inválido</span
          >
        </div>
        <div class="col-4">
          <label for="exampleFormControlInput1" class="form-label">Rua</label>
          <input type="text" class="form-control" formControlName="street" />
        </div>
        <div class="col-1">
          <label for="exampleFormControlInput1" class="form-label"
            >Número</label
          >
          <input type="number" class="form-control" formControlName="number" />
        </div>
        <div class="col-4">
          <label for="exampleFormControlInput1" class="form-label"
            >Complemento</label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Ex: Bl 12 APTO 334"
            formControlName="complement"
          />
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label"
            >Bairro</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="neighborhood"
          />
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label"
            >Cidade</label
          >
          <input type="text" class="form-control" formControlName="city" />
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label"
            >Estado</label
          >
          <select class="form-select" formControlName="state">
            <option *ngFor="let state of states" [value]="state.sigla">
              {{ state.nome }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Mensagem</label
      >
      <textarea
        class="form-control"
        rows="3"
        formControlName="message"
      ></textarea>
    </div>
    <p>{{ form.invalid }}</p>
    <button
      class="btn btn-primary"
      [disabled]="form.invalid"
      (click)="submitForm()"
    >
      Enviar
    </button>
  </form>
</div>
